/* Colors and fonts */

body{
	background: rgb(245,245,245);
	color: #575F7D;
	font-family:'Lora', serif;
	font-size: 17px;
	font-weight: lighter;
	text-align: center;

}

h1, h2, h3 {
	font-family: 'Roboto', sans-serif;
}

h1 {
	color: #575F7D;
	font-size: 32px;
	font-weight:700;
}

h2 {
	color: rgb(100,100,100);
	font-size: 20px;
	font-weight: 500;
}

a{
	text-decoration:none;
	color: #6B72E1;
	font-weight: 600;
	font-family: 'Roboto',sans-serif;
	font-size:16px;
	transition: color 0.3s ease;
}

a:hover{
	color:white

}

/* Custom design with classes and id*/
.container {
	width:700px; 
	margin: 40px auto;
}

#img-circle {
	border-radius: 50%;
}

.box-centered {
	padding: 40px;
	background-color:white;
	border-radius: 4px;
	box-shadow: 0 10px 30px rgba(0,0,0,.1);
	width: 500px;
	margin: 50px auto;
	border:2px solid #F7F7F7;
}

.btn-blue {
	background-color:#6B72E1;
	color:white;
	padding: 15px 20px;
	border-radius: 4px;
	transition: background-color 0.3s ease;
}

.btn-blue:hover {
	background-color:black; 
}

.list-inline {
	list-style:none;
	padding-left:0px;
}
.list-inline li {
	display:inline;
	padding:10px;
}

.list-inline i {
	font-size:50px;
	color:rgb(230,230,230);
	transition: color 0.5s ease;
}

.list-inline i:hover {
	color:black;
}

#introduction p {
	margin-bottom: 30px;
}